<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body> 
      <h1>Add a tweet</h1>
      <form action="/tweet" method="POST">
            <input type="text" name="username" placeholder="Enter Your Username:">
            <input type="text" name="status" placeholder="Enter your Tweet!:" >
            <input type="Submit">
      </form>
 
  </body>
</html>